node_modules/
dist/
coverage/
*.log
*.tsbuildinfo
*.tgz

/.vitepress
!docs/.vitepress/
docs/.vitepress/.temp/
docs/.vitepress/dist/
docs/.vitepress/cache/

.DS_Store
Thumbs.db

.env
.env.*
!.env.example
